---
// 悬浮签名组件 - 独立区域显示
const { class: className } = Astro.props
---

<div class:list={['floating-signature-wrapper', className]}>
  <div class="floating-signature-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="396.61498061007853"
      height="200"
      viewBox="0 11.039999961853027 102.4800033569336 46.71999740600586"
      class="floating-signature-svg"
    >
      <path
        d="M13 36.04L13 36.04Q12.04 34.76 10.52 32.48L10.52 32.48Q0 31.44 0 28.08L0 28.08Q0 27.32 0.78 26.84Q1.56 26.36 3.16 26.36L3.16 26.36Q7.16 26.36 11.12 31.44L11.12 31.44Q15.12 31.84 20.20 31.84L20.20 31.84L20.64 31.84Q25.76 28.76 30.16 25.64L30.16 25.64Q31.96 22.36 33.28 20.22Q34.60 18.08 36.48 15.76L36.48 15.76Q40.20 11.04 44.32 11.04L44.32 11.04Q45.40 11.04 45.40 12L45.40 12Q45.40 14.32 41.56 18.08Q37.72 21.84 31.36 26.16L31.36 26.16Q29.44 29.84 28.48 31.52L28.48 31.52Q34.08 31.08 36.56 30.16L36.56 30.16L36.68 30.16Q36.84 30.16 36.84 30.38Q36.84 30.60 36.56 31L36.56 31Q33.56 31.92 27.92 32.44L27.92 32.44Q25.76 36.16 23.74 38.22Q21.72 40.28 19.68 40.28L19.68 40.28Q16.40 40.28 13.48 36.64L13.48 36.64Q7.76 39.52 3.36 41.04L3.36 41.04Q2.76 41.24 1.98 41.24Q1.20 41.24 1.20 40.64L1.20 40.64Q1.20 40.32 1.52 40.06Q1.84 39.80 2.36 39.80L2.36 39.80Q5.56 39.80 13 36.04ZM20.64 32.84L20.64 32.84Q17.60 34.56 14.64 36.08L14.64 36.08Q17.32 39.40 19.52 39.40L19.52 39.40Q21.16 39.40 22.78 37.64Q24.40 35.88 26.36 32.56L26.36 32.56Q23.92 32.76 20.64 32.84ZM43.20 12L43.20 12Q40.44 12 37.64 15.68L37.64 15.68Q35.32 18.80 32.56 23.92L32.56 23.92Q37.60 20.20 40.64 17.14Q43.68 14.08 43.68 12.40L43.68 12.40Q43.68 12 43.20 12ZM1.92 27.92L1.92 27.92Q1.92 30.20 9.64 31.24L9.64 31.24Q6.52 27.08 3.36 27.08L3.36 27.08Q1.92 27.08 1.92 27.92ZM14.16 35.48L14.16 35.48Q16.64 34.16 18.92 32.84L18.92 32.84L18.76 32.84Q15.28 32.84 12.04 32.60L12.04 32.60Q13.56 34.72 14.16 35.48ZM29.08 27.68L29.08 27.68Q26.92 29.12 22.36 31.84L22.36 31.84Q25.44 31.76 26.88 31.64L26.88 31.64Q27.64 30.32 29.08 27.68ZM45.40 34.20L46.40 33.36Q46.68 33.16 46.92 33.16Q47.16 33.16 47.16 33.44L47.16 33.44L47.16 33.52Q43 36.96 40.24 38.68Q37.48 40.40 35.24 40.40L35.24 40.40Q33.44 40.40 33.44 38.64L33.44 38.64Q33.44 36.04 36.08 33.30Q38.72 30.56 40.52 30.56L40.52 30.56Q41.52 30.56 41.52 31.68L41.52 31.68Q41.32 33.88 35.20 37.60L35.20 37.60L35.20 38Q35.20 39.32 36.58 39.32Q37.96 39.32 39.56 38.40L39.56 38.40Q42.68 36.56 45.40 34.20L45.40 34.20ZM39.48 31.80L39.48 31.80Q38.60 31.80 37.22 33.28Q35.84 34.76 35.36 36.64L35.36 36.64Q37.28 35.48 38.60 34.18Q39.92 32.88 39.92 32.34Q39.92 31.80 39.48 31.80ZM38.68 44.44L38.68 44.44Q39.12 44.64 39.44 44.84L39.44 44.84Q39.68 44.36 40 44.04L40 44.04Q39.16 44.28 38.72 44.36L38.72 44.36Q38.72 44.40 38.68 44.44ZM50.74 27.92Q51.12 27.92 51.34 28.16Q51.56 28.40 51.56 28.84Q51.56 29.28 50.96 29.96Q50.36 30.64 49.92 30.64Q49.48 30.64 49.28 30.38Q49.08 30.12 49.08 29.78Q49.08 29.44 49.72 28.68Q50.36 27.92 50.74 27.92ZM39.80 47.80L39.80 47.80Q39.80 47.24 39.68 46.76L39.68 46.76Q33.40 55.28 33.40 56.08L33.40 56.08Q33.40 56.44 33.72 56.44L33.72 56.44Q34.52 56.44 35.98 55.06Q37.44 53.68 38.62 51.58Q39.80 49.48 39.80 47.80ZM38.92 45.56L38.92 45.56Q37.92 44.56 36.24 44.56L36.24 44.56Q35.72 44.48 35.72 44.12L35.72 44.12Q35.76 43.80 36.20 43.80L36.20 43.80Q36.28 43.80 37.48 43.92L37.48 43.92Q38.52 43.92 40.56 43.24L40.56 43.24L47.24 33.92Q47.32 33.80 47.32 33.66Q47.32 33.52 47.20 33.52Q47.08 33.52 46.96 33.64L46.96 33.64L44.88 35.36L44.72 34.76L46.76 33.04Q48.20 31.60 48.76 31.60L48.76 31.60Q48.96 31.60 49.16 31.78Q49.36 31.96 49.36 32.28L49.36 32.28Q49.36 33.44 43.08 42.08L43.08 42.08Q44.68 41.20 45.36 40.28L45.36 40.28Q45.52 40.08 45.76 40.08Q46 40.08 46 40.36L46 40.36Q46 41.68 42.28 43.20L42.28 43.20L40.44 45.72Q41.16 46.60 41.16 48.24Q41.16 49.88 39.52 52.26Q37.88 54.64 35.84 56.20Q33.80 57.76 32.64 57.76Q31.48 57.76 31.48 56.72L31.48 56.72Q31.48 55.96 38.92 45.56ZM56.96 36.56L56.96 36.56Q59.20 36.56 62.32 34.04L62.32 34.04L63 34.24Q59.08 37.52 56.24 37.52L56.24 37.52Q55.92 37.52 55.76 37.48L55.76 37.48Q54.68 38.80 53.40 39.62Q52.12 40.44 51.16 40.44L51.16 40.44Q49.64 40.44 49.64 38.74Q49.64 37.04 52.48 34.20L52.48 34.20Q52 33.04 52 31.76Q52 30.48 52.92 29.68Q53.84 28.88 55.06 28.88Q56.28 28.88 57.12 29.68Q57.96 30.48 57.96 31.96L57.96 31.96Q57.96 34.24 56.48 36.52L56.48 36.52Q56.64 36.56 56.96 36.56ZM55.68 36.16L55.68 36.16Q56.92 34.08 56.92 32.62Q56.92 31.16 56.20 30.46Q55.48 29.76 54.80 29.76L54.80 29.76Q53.40 29.76 53.40 31.20Q53.40 32.64 54.04 34.06Q54.68 35.48 55.68 36.16ZM51.28 38.52L51.28 38.52Q51.28 39.32 52.32 39.32Q53.36 39.32 54.96 37.20L54.96 37.20Q53.88 36.64 53.04 35.24L53.04 35.24Q51.28 37.16 51.28 38.52ZM71.76 34.20L72.76 33.36Q73.04 33.16 73.28 33.16Q73.52 33.16 73.52 33.44L73.52 33.44L73.52 33.52Q69.36 36.96 67.20 38.32L67.20 38.32Q64.40 40.44 62.48 40.44L62.48 40.44Q60.80 40.44 60.80 38.44L60.80 38.44Q60.80 35.76 64.26 30.50Q67.72 25.24 72.04 21.04Q76.36 16.84 78.56 16.84L78.56 16.84Q79.56 16.84 79.56 17.72L79.56 17.72Q79.56 19.92 74.30 24.98Q69.04 30.04 63.96 33.60L63.96 33.60Q62.48 36.44 62.48 37.92Q62.48 39.40 63.52 39.40Q64.56 39.40 66.24 38.20L66.24 38.20Q69.08 36.52 71.76 34.20L71.76 34.20ZM77.56 18.12L77.56 18.12Q75.88 18.12 71.60 22.96Q67.32 27.80 64.52 32.64L64.52 32.64Q69.12 29.36 73.52 24.62Q77.92 19.88 77.92 18.48L77.92 18.48Q77.92 18.12 77.56 18.12ZM69.76 43.84L70.96 44.56L71.48 43.88Q72.12 43.12 72.28 42.88L72.28 42.88Q71.12 43.40 70.44 43.58Q69.76 43.76 69.76 43.84L69.76 43.84ZM71.16 46.96L71.16 46.96Q71.16 46.56 71.04 46.12L71.04 46.12Q65.16 53.48 65.16 54.92L65.16 54.92Q65.16 55.04 65.28 55.04L65.28 55.04Q65.96 55.04 67.36 53.72Q68.76 52.40 69.96 50.44Q71.16 48.48 71.16 46.96ZM67.96 43.88L67.96 43.88Q68.08 43.56 68.14 43.52Q68.20 43.48 68.44 43.46Q68.68 43.44 69.96 43.10Q71.24 42.76 73 42L73 42Q78.12 35.48 78.42 34.90Q78.72 34.32 78.72 34.20Q78.72 34.08 78.56 34.08Q78.40 34.08 78.20 34.36L78.20 34.36Q78.12 34.40 77.14 35.30Q76.16 36.20 75.22 36.96Q74.28 37.72 73.04 38.42Q71.80 39.12 70.92 39.12Q70.04 39.12 70.04 38.48L70.04 38.48Q70.08 37 72.06 34.40Q74.04 31.80 74.72 31.80Q75.40 31.80 75.40 32.16L75.40 32.16Q75.40 32.36 73.58 34.64Q71.76 36.92 71.76 37.48Q71.76 38.04 72.12 38.04L72.12 38.04Q72.84 38.04 76.26 35.12Q79.68 32.20 80.48 32.20L80.48 32.20Q80.72 32.20 80.94 32.44Q81.16 32.68 81.16 32.96L81.16 32.96Q81.16 33.84 75.40 40.84L75.40 40.84Q80.80 37.84 85.44 34.04L85.44 34.04L86.32 33.32Q86.64 33.12 86.84 33.12Q87.04 33.12 87.04 33.32L87.04 33.32L87 33.48Q87.20 33.48 84.88 35.24Q82.56 37 80.60 38.36Q78.64 39.72 74.56 41.80L74.56 41.80L71.72 45.28Q72.28 46.08 72.28 47.16L72.28 47.16Q72.28 49 70.72 51.26Q69.16 53.52 67.22 55.02Q65.28 56.52 64.04 56.52L64.04 56.52Q63.68 56.52 63.38 56.26Q63.08 56 63.08 55.54Q63.08 55.08 63.54 54.16Q64.00 53.24 64.90 52.02Q65.80 50.80 66.60 49.82Q67.40 48.84 68.64 47.36Q69.88 45.88 70.48 45.16L70.48 45.16Q69.76 44.52 68.86 44.36Q67.96 44.20 67.96 43.88ZM102.48 33.36L102.48 33.48Q94.04 40.52 92.04 40.52L92.04 40.52Q90.88 40.52 90.88 39.56Q90.88 38.60 91.74 37.28Q92.60 35.96 93.46 34.94Q94.32 33.92 94.32 33.72Q94.32 33.52 94.20 33.52L94.20 33.52Q90.48 36 89.78 36.56Q89.08 37.12 87.50 38.40Q85.92 39.68 85.44 40Q84.96 40.32 84.40 40.32L84.40 40.32Q83.84 40.32 83.84 39.84L83.84 39.84Q83.84 39.28 86.08 36.32L86.08 36.32Q88.24 33.36 88.24 33L88.24 33Q88.24 32.92 88.10 32.92Q87.96 32.92 84.64 35.36L84.64 35.36L84.48 34.76Q87.32 32.48 88.32 31.84Q89.32 31.20 89.94 31.20Q90.56 31.20 90.56 31.80L90.56 31.80Q90.56 32.20 88.30 35.06Q86.04 37.92 86.04 38.14Q86.04 38.36 86.18 38.36Q86.32 38.36 90.74 35.14Q95.16 31.92 96.12 31.92L96.12 31.92Q96.40 31.92 96.66 32.14Q96.92 32.36 96.92 32.56L96.92 32.56Q96.92 33.04 94.80 35.74Q92.68 38.44 92.68 38.80Q92.68 39.16 93.18 39.16Q93.68 39.16 95.32 38.08L95.32 38.08Q98.32 36.12 100.84 34.04L100.84 34.04L101.72 33.32Q102 33.12 102.24 33.12Q102.48 33.12 102.48 33.36L102.48 33.36Z"
        fill="black"
        class="signature-path floating-signature-path"
      />
    </svg>
  </div>
</div>

<style>
  /* 独立区域包装器 */
  .floating-signature-wrapper {
    display: block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: right;
  }

  /* 签名容器 */
  .floating-signature-container {
    display: inline-block;
    opacity: 0.7;
  }

  .floating-signature-svg {
    width: 200px;
    height: auto;
  }

  .signature-path {
    opacity: 0;
  }

  .floating-signature-path {
    stroke-dasharray: 2850;
    stroke-dashoffset: 2850;
  }

  /* 动画：正序绘制 -> 停留 -> 逆序擦除 -> 循环 */
  .floating-signature-container.animate .signature-path {
    opacity: 1;
  }

  .floating-signature-container.animate .floating-signature-path {
    animation: signature-loop 8.5s ease-in-out infinite;
  }

  @keyframes signature-loop {
    /* 0-2.5s: 正序绘制 */
    0% {
      stroke-dashoffset: 2850;
    }
    29.4% {
      stroke-dashoffset: 0;
    }
    /* 2.5-5.5s: 停留3秒 (29.4%-64.7%) */
    64.7% {
      stroke-dashoffset: 0;
    }
    /* 5.5-8s: 逆序擦除 */
    94.1% {
      stroke-dashoffset: -2850;
    }
    /* 8-8.5s: 空白停留 */
    100% {
      stroke-dashoffset: -2850;
    }
  }

  /* 响应式 */
  @media (max-width: 768px) {
    .floating-signature-svg {
      width: 150px;
    }
  }

  @media (max-width: 480px) {
    .floating-signature-wrapper {
      text-align: center;
    }
    
    .floating-signature-svg {
      width: 120px;
    }
  }

  /* 打印时隐藏 */
  @media print {
    .floating-signature-wrapper {
      display: none;
    }
  }
</style>

<script>
  // 页面加载后自动播放
  function initFloatingSignature() {
    const signatures = document.querySelectorAll('.floating-signature-container')
    signatures.forEach((sig) => {
      setTimeout(() => {
        sig.classList.add('animate')
      }, 500)
    })
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initFloatingSignature)
  } else {
    initFloatingSignature()
  }
</script>
